
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img ng-src="http://www.victig.com/wp-content/uploads/2012/12/Smart-Meter-Security.jpg" alt="First slide" >
      <div class="container">
        <div class="carousel-caption">
          <h1>Objectif</h1>
          <p>SteelSecutity souhaite démocratiser l’authentification sécurisée sur la toile en offrant à chacun une solution simple permettant à la fois de centraliser l’ensemble de ses comptes web sur une seule interface et d’acquérir une sécurité optimale reconnue.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://good-wallpapers.com/pictures/9115/bigpreview_Green%20Simplicity.jpg" alt="First slide" >
      <div class="container">
        <div class="carousel-caption">
          <h1>Simplicité</h1>
          <p>L'intégration des normes de sécurité nouvelle génération à la portée de tous. La technologie avancée de SteelSecurity se trouve dans les coulisses, et l'utilisateur n'a plus qu'à apprécier sa performance.
          Notre interface, notre application et notre intégration sont développées afin de faire le plus avec le moins.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://flowerwallpapers.net/wp-content/uploads/2013/08/Green-Plants-Birth-Wallpaper.jpg" alt="First slide" >
      <div class="container">
        <div class="carousel-caption">
          <h1>Sûreté</h1>
          <p>SteelSecurity se veut être une référence dans l'architecture et les normes de sécurité. Les attaques d'aujourd'hui sont de plus en plus sophistiquées, et notre standard l'est aussi. La complexité de notre sécurité à toujours un tour d'avance face aux menaces.</p>
          <!-- <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" data-target="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" data-target="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" ng-src="http://www.victig.com/wp-content/uploads/2012/12/Smart-Meter-Security.jpg" alt="140x140" style="width: 140px; height: 140px;">
      <h2>Objectif</h2>
      <p>Créer un service d'authentification pour renforcer la sécurité des comptes web</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle"  ng-src="http://good-wallpapers.com/pictures/9115/bigpreview_Green%20Simplicity.jpg"  alt="140x140" style="width: 140px; height: 140px;">
      <h2>Simplicité</h2>
      <p>Service d'authentification avancé avec une approche simple et intuitive pour renforcer la sécurité des comptes utilisateurs au quotidien.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" ng-src="http://flowerwallpapers.net/wp-content/uploads/2013/08/Green-Plants-Birth-Wallpaper.jpg" alt="140x140" style="width: 140px; height: 140px;">
      <h2>Sûreté</h2>
      <p>SteelSecurity cible également les utilisateurs professionnel grâce au standard industriel des algorithmes de chiffrements et des protocoles dans le but de faire face aux différentes menaces actuelles.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <!-- <div class="row featurette"> -->
  <!--   <div class="col-md-7"> -->
  <!--     <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2> -->
  <!--     <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
  <!--   </div> -->
  <!--   <div class="col-md-5"> -->
  <!--     <img class="featurette-image img-responsive"  data-src="holder.js/500x500/auto" alt="500x500"> -->
  <!--   </div> -->
  <!-- </div> -->

  <!-- <hr class="featurette-divider"> -->

  <!-- <div class="row featurette"> -->
  <!--   <div class="col-md-5"> -->
  <!--     <img class="featurette-image img-responsive"  data-src="holder.js/500x500/auto" alt="500x500"> -->
  <!--   </div> -->
  <!--   <div class="col-md-7"> -->
  <!--     <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2> -->
  <!--     <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
  <!--   </div> -->
  <!-- </div> -->

  <!-- <hr class="featurette-divider"> -->

  <!-- <div class="row featurette"> -->
  <!--   <div class="col-md-7"> -->
  <!--     <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2> -->
  <!--     <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
  <!--   </div> -->
  <!--   <div class="col-md-5"> -->
  <!--     <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500"> -->
  <!--   </div> -->
  <!-- </div> -->

  <!-- <hr class="featurette-divider"> -->

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->

</div>
