
<div class="container">
  <h2>Log into facebook.com</h2>
  <br/>
  <div class="col-lg-6 col-lg-offset-3 well">
    <h2>{{'Login' | t}}</h2>
    <br/>
    <form ng-submit="loginStepOne()" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="email" ng-model="user.email" class="form-control" id="inputEmail1" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" ng-model="user.password" class="form-control" id="inputPassword1" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> {{'Remember me' | t}}
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-default">{{'Sign in' | t}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
