
<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-md-8">
      <div class="page-header">
        <h1>À propos de SteelSecurity</h1>
      </div>

      <p>
        SteelSecurity est un gestionnaire d'authentification sécurisé. C'est à dire qu'il permet à un utilisateur de sécuriser l'accès à un compte par l'utilisation d'une double authentification par mots de passe à usage unique ou par l'autorisation via son Smartphone.
        <br/><br/>SteelSecurity est utilisable sur les principales plateformes existantes. C'est à dire: Unix, Windows, Mac OS X et est même utilisable sur le web. <br/><br/>SteelSecurity est facile d'utilisation grâce à une interface mobile simple et intuitive permettant ainsi à tous types d'utilisateur, désireux de sécuriser ses comptes web, d'y avoir recours.

        <br/><br/>SteelSecurity cible également les utilisateurs professionnel grâce au standard industriel des algorithmes de chiffrements et des protocoles dans le but de faire face aux différentes menaces actuelles.<br/><br/>En cas de tentative d'intrusion, une solution est également prévue permettant d'informer immédiatement l'utilisateur et de bloquer l'accès à au compte vulnérable jusqu'à réactivation du compte par l'utilisateur.
      </p>
    </div>
  </div>
</div>
