<div class="container">
  <br/>
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading" t>Login</div>
      <div class="panel-body">
        <form ng-submit="login()" class="form-horizontal" role="form" name="logForm">
          <div class="form-group" ng-class="{'has-error' : logForm.email.$invalid, 'has-success' : !logForm.email.$invalid}">
            <label for="inputEmail1" class="col-lg-2 control-label" t>Email</label>
            <div class="col-lg-10">
              <input type="email" ng-model="user.email" class="form-control" id="inputEmail1" placeholder="Email" required="true" name="email">
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error' : logForm.password.$invalid, 'has-success' : !logForm.password.$invalid}">
            <label for="inputPassword1" class="col-lg-2 control-label" t>Password</label>
            <div class="col-lg-10">
              <input type="password" ng-model="user.password" class="form-control" id="inputPassword1" placeholder="Password" required="true" name="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> {{'Remember me' | t}}
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-default" ng-disabled="logForm.$invalid">{{'Sign in' | t}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
