

<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-md-8">
      <div class="page-header">
        <h1>L'équipe</h1>
      </div>

      <p>
        <ul class="list-unstyled">
          <li><img src="http://cdn.local.epitech.net/userprofil/profilview/plenar_d.jpg"> <b>Damien Plenard</b> Chef de projet et responsable API</li>
          <li><img src="http://cdn.local.epitech.net/userprofil/profilview/marti_t.jpg"> <b>Theo Martin-castex</b> Assistant chef de projet et responsable securité</li>
          <li><img src="http://cdn.local.epitech.net/userprofil/profilview/le-mev_j.jpg"> <b>Julien Le-mevel</b> Responsable documentation</li>
          <li><img src="http://cdn.local.epitech.net/userprofil/profilview/radix_r.jpg"> <b>Remy Radix</b> Responsable Applications Mobile </li>
          <li><img src="http://cdn.local.epitech.net/userprofil/profilview/berqui_a.jpg"> <b>Alexandre Berquier</b> Responsable site vitrine et communication</li>
          <li><img src="http://cdn.local.epitech.net/userprofil/profilview/strzel_a.jpg"> <b>Alexandre Strzelewicz</b> Responsable front-end et assistant API</li>

        </ul>

      </p>
    </div>
  </div>
</div>
